## Find synonyms and build categories between tag lists

### Make a test and build the function use wordnet.synsets

In [2]:
from nltk.corpus import wordnet

def get_word_synonyms_from_sent(word, sent):
    word_synonyms = []
    for synset in wordnet.synsets(word):
        for lemma in synset.lemma_names():
            if lemma in sent and lemma != word:
                word_synonyms.append(lemma)
                word_synonyms.append(word)
    return word_synonyms

word = "happy"
sent = ['I', 'am', 'glad', 'it', 'was', 'felicitous', '.']
word_synonyms = get_word_synonyms_from_sent(word, sent)
print ("WORD:", word)
print ("SENTENCE:", sent)
print ("SYNONYMS FOR '" + word.upper() + "' FOUND IN THE SENTENCE: " + ", ".join(word_synonyms))

WORD: happy
SENTENCE: ['I', 'am', 'glad', 'it', 'was', 'felicitous', '.']
SYNONYMS FOR 'HAPPY' FOUND IN THE SENTENCE: felicitous, happy, glad, happy

In [3]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/yuningsong/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

In [3]:
word_synonyms

['felicitous', 'glad']

### Load data

In [1]:
import pandas as pd

In [2]:
ig = pd.read_csv('ig_most.csv')

In [3]:
ig_df = pd.DataFrame(ig)

In [4]:
ig_df.columns

Index(['id', 'Userid', 'tag1', 'tag2', 'tag3', 'tag4', 'tag5',
       'Most_popular_post'],
      dtype='object')

In [5]:
twitter = pd.read_csv('twitter_most 1.csv')

In [6]:
twitter_df = pd.DataFrame(twitter)

In [7]:
my_list = ig_df["tag1"].tolist()
len(my_list)

187

In [8]:
list2 =ig_df['tag2'].tolist()
my_list.extend(list2)
len(my_list)

374

In [11]:
list2 =ig_df['tag5'].tolist()
my_list.extend(list2)
len(my_list)

935

In [12]:
igList = [x for x in my_list if str(x) != 'nan']

In [14]:
twitter_df.columns

Index(['Unnamed: 0', 'userid', 'mostPopHashtag1', 'mostPopHashtag2',
       'mostPopHashtag3', 'mostPopHashtag4', 'mostPopHashtag5', 'mostPopPost'],
      dtype='object')

In [15]:
my_list = twitter_df["mostPopHashtag1"].tolist()
len(my_list)

229

In [19]:
list2 =twitter_df['mostPopHashtag4'].tolist()
my_list.extend(list2)
len(my_list)

1145

In [20]:
twitterList = [x for x in my_list if str(x) != 'nan']

In [21]:
len(twitterList)

1145

### Find synonyms

In [56]:
list1 = []
for ig in igList:
    synlist = get_word_synonyms_from_sent(ig,twitterList)
    list1.append(synlist)
print(list1)

[[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], ['AD', 'ad'], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], ['AD', 'ad'], [], [], [], [], [], [], ['AD', 'ad'], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], ['AD', 'ad'], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], ['AD', 'ad'], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], ['AD', 'ad'], [], [], [], [], [], [], [], [], [], [], [], [], [], [], ['AD', 'ad'], [], [], [], [], [], [], [], [], ['Blessed', 'blessed'], [], [], [], [], [], [], [], ['AD', 'ad'], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], ['Blessed', 'blessed'], [], [], [], [], [], ['AD', 'ad'], [], ['Blessed', 'blessed'], [], [], [], ['AD', 'ad'], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], ['Blessed', 'blessed'], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]

In [47]:
len(list1)

358

In [50]:
sys = get_word_synonyms_from_sent('ad',twitterList)
sys

['AD']

In [53]:
finalList = [x for x in list1 if x != []]

In [54]:
finalList

[['AD'],
 ['AD'],
 ['AD'],
 ['AD'],
 ['AD'],
 ['AD'],
 ['AD'],
 ['Blessed'],
 ['AD'],
 ['Blessed'],
 ['AD'],
 ['Blessed'],
 ['AD'],
 ['Blessed']]

In [22]:
igList.extend(twitterList)

In [23]:
len(igList)

1503

In [25]:
import nltk

In [70]:
text = nltk.Text(word.lower() for word in igList)

In [75]:
print(text)

<Text: risetogether marchmadness beststeakhousehandsdown historic str8up detroitbasketball ripnipthegreat risetogether...>

### make a category of every tag

In [26]:
from nltk import word_tokenize
cate = []
for x in igList:
    text1 = word_tokenize(x)
    cate.append(nltk.pos_tag(text1))

In [27]:
type(cate)

list

In [33]:
cate[0][0][1]

'NN'

In [ ]:
cate1 = []
for x in cate:
    cate1.append(x[0][1])
cate1

In [37]:
def CountFrequency(my_list): 
  
    # Creating an empty dictionary  
    freq = {} 
    for item in my_list: 
        if (item in freq): 
            freq[item] += 1
        else: 
            freq[item] = 1
  
    for key, value in freq.items(): 
        print ("% s : % s"%(key, value))

In [38]:
CountFrequency(cate1)

NN : 1198
NNS : 156
CD : 29
JJ : 26
RB : 28
VBN : 25
VBG : 5
NNP : 20
IN : 10
VB : 3
JJS : 3

### move every tag to list according to its tag

In [28]:
noun = []
noun_plural=[]
cardinal_digit = []
adj = []
adverb = []
verb_pas= []
verb_pre= []
proper_noun = []
preposition = []
verb = []
jjs = []

for x in cate:
    if x[0][1]=='NN':
        noun.append(x[0][0])
    elif x[0][1]=='NNS':
        noun_plural.append(x[0][0])
    elif x[0][1]=='CD':
        cardinal_digit.append(x[0][0])
    elif x[0][1]=='JJ':
        adj.append(x[0][0])
    elif x[0][1]=='RB':
        adverb.append(x[0][0])
    elif x[0][1]=='VBN':
        verb_pas.append(x[0][0])
    elif x[0][1]=='VBG':
        verb_pre.append(x[0][0])
    elif x[0][1]=='NNP':
        proper_noun.append(x[0][0])
    elif x[0][1]=='IN':
        preposition.append(x[0][0])
    elif x[0][1]=='VB':
        verb.append(x[0][0])
    elif x[0][1]=='JJS':
        jjs.append(x[0][0])
    else :
        continue

In [29]:
noun = noun[:10]

noun_plural=noun_plural[:10]
cardinal_digit = cardinal_digit[:10]
adj = adj[:10]
adverb = adverb[:10]
verb_pas= verb_pas[:10]
verb_pre= verb_pre[:10]
proper_noun = proper_noun[:10]
preposition = preposition[:10]

jjs = verb_pre[:10]

### because different list have differnt length so we move the tags into one single list

In [50]:
noun1 = ''
for x in noun:
    if noun1 == '':
        noun1 = noun1+x
    else:
        noun1= noun1+','+x

In [51]:
noun1

'risetogether,marchmadness,beststeakhousehandsdown,historic,str8up,detroitbasketball,ripnipthegreat,risetogether,airforce1,glorytogod,detroitbasketball,golddontquit,retirement,menhaveskintoo,tmc,tgbtg,happyeaster,holdat,legacy,unfinishedbusiness,ripcity,repost,tbt,puremagic,dame5,gameday,gobeyond,theresurgence,teamcarroll,bravesareback'

In [52]:
final = []
final.append(noun1)

In [54]:
noun_plural1 = ''
for x in noun_plural:
    if noun_plural1 == '':
        noun_plural1 = noun_plural1+x
    else:
        noun_plural1= noun_plural1+','+x

In [55]:
final.append(noun_plural1)

In [56]:
cardinal_digit1 = ''
for x in cardinal_digit:
    if cardinal_digit1 == '':
        cardinal_digit1 = cardinal_digit1+x
    else:
        cardinal_digit1= cardinal_digit1+','+x
final.append(cardinal_digit1)

In [57]:
adj1 = ''
for x in adj:
    if adj1 == '':
        adj1 = adj1+x
    else:
        adj1= adj1+','+x
final.append(adj1)

In [64]:
verb1 = ''
for x in verb:
    if verb1 == '':
        verb1 = verb1+x
    else:
        verb1= verb1+','+x
final.append(verb1)

In [65]:
category = ("Noun":noun,
                "Noun_plural":noun_plural,
                        "cardinal_digit":cardinal_digit,
                        "adjective":adj,
                        "adverb":adverb,
                        "verb_gerund":verb_pre,
                        "proper_noun":proper_noun,
                        "prepositon":preposition,
                        "verb_past":verb_pas,
                        'adjective_super':jjs
                    )

In [66]:
len(category)

11

In [34]:
len(verb)

3

In [35]:
import pandas as pd
test_df = pd.DataFrame({"Noun":noun,
                "Noun_plural":noun_plural,
                        "cardinal_digit":cardinal_digit,
                        "adjective":adj,
                        "adverb":adverb,
                
                        "proper_noun":proper_noun,
                        "prepositon":preposition,
                        "verb_past":verb_pas,
                        })
test_df

,Noun,Noun_plural,cardinal_digit,adjective,adverb,proper_noun,prepositon,verb_past
0,risetogether,nbaplayoffs,20onpump2,unleashthemanimal,onlyupfromhere,Gemini,NeverEnough,sponsored
1,marchmadness,spurs,13yearsandout,nbatwitterlive,carolinafamily,HeIsRisen,Underground,blessed
2,beststeakhousehandsdown,shesaidyes,6,unleaded,teamprogressiondaily,GloryToGod,Underground,sponsored
3,historic,madukes,5thmaster,NBATwitterLive,sponsoredobviously,Kobe4,from,blessed
4,str8up,gobucks,5minutesfromhome,UnleashTheManimal,liningfamily,BBN,from,blessed
5,detroitbasketball,teaguetuesdays,94,NBATwitterLive,spanishfamily,BBN,from,blessed
6,ripnipthegreat,bigfacts,7yearsyoung,uncommon,literally,BBN,from,staytuned
7,risetogether,60wins,10,FREE,grinddaily,HeIsRisen,FacebookDown,MostHated
8,airforce1,iguazufalls,3,NbaTwitterLive,spursfamily,BetterEveryDay,BearDown,MostHated
9,glorytogod,playoffs,22,global,spursfamily,LigaEndesa,WhatsappDown,pressureapplied

In [72]:
import pandas as pd
test_df1 = pd.DataFrame({"Initail hashtag":finalList,
                        "Tags":finalList,
                        })
test_df1

   Initail hashtag       Tags
0             [AD]       [AD]
1             [AD]       [AD]
2             [AD]       [AD]
3             [AD]       [AD]
4             [AD]       [AD]
5             [AD]       [AD]
6             [AD]       [AD]
7        [Blessed]  [Blessed]
8             [AD]       [AD]
9        [Blessed]  [Blessed]
10            [AD]       [AD]
11       [Blessed]  [Blessed]
12            [AD]       [AD]
13       [Blessed]  [Blessed]

In [71]:
finalList=[['AD'],
 ['AD'],
 ['AD'],
 ['AD'],
 ['AD'],
 ['AD'],
 ['AD'],
 ['Blessed'],
 ['AD'],
 ['Blessed'],
 ['AD'],
 ['Blessed'],
 ['AD'],
 ['Blessed']]

In [73]:
test_df2 = pd.DataFrame({"Initail hashtag":igList,
                        
                        })
test_df2

              Initail hashtag
0                risetogether
1                marchmadness
2     beststeakhousehandsdown
3                    historic
4                      str8up
5           detroitbasketball
6              ripnipthegreat
7                risetogether
8                   airforce1
9                  glorytogod
10          detroitbasketball
11               golddontquit
12                 retirement
13             menhaveskintoo
14                        tmc
15                      tgbtg
16                happyeaster
17                     holdat
18                     legacy
19         unfinishedbusiness
20                    ripcity
21                     repost
22                        tbt
23                  puremagic
24                      dame5
25                nbaplayoffs
26                    gameday
27                      spurs
28                   gobeyond
29              theresurgence
...                       ...
1473              unguardable
1474             BlackTwitter
1475             GreenCentury
1476                CapsCanes
1477                   Elite8
1478                   Elite8
1479                 gametime
1480              TeamGiannis
1481              TeamGiannis
1482                  ABALiga
1483                  ABALiga
1484                  ABALiga
1485      justAKidFromChicago
1486                gositdown
1487         LaMarcusAldridge
1488          HowHungryAreYou
1489                    SQUAD
1490              LongLiveNip
1491            GameofThrones
1492                      tmc
1493                      tmc
1494                      tmc
1495                      tmc
1496                      tmc
1497         MAACChampionship
1498         MarchMadness2019
1499           HighFlyingBird
1500          AutismAwareness
1501                   Family
1502              NBAPlayoffs

[1503 rows x 1 columns]

In [74]:
test_df.to_csv('category.csv')
test_df1.to_csv('synonyms.csv')
test_df2.to_csv('domain_tag.csv')

In [36]:
test_df.to_csv('category.csv')

Citations
1.	https://github.com/nikbearbrown/INFO_6210/blob/master/Week_2/NBB_IMDB_Web_Scraper.ipynb
2.	https://github.com/danielfrg/espn-nba-scrapy/blob/master/src/scrap/get_players.py
3.	http://www.gregreda.com/2015/02/15/web-scraping-finding-the-api/
4.	http://savvastjortjoglou.com/nba-shot-sharts.html
5.	https://instaloader.github.io/index.html
6.	https://sebastianraschka.com/Articles/2014_sqlite_in_python_tutorial.html
7.	http://www.dcs.bbk.ac.uk/~ptw/teaching/DBM/er.pdf
8.	https://www.dataquest.io/blog/python-pandas-databases/
9.	https://github.com/nikbearbrown/INFO_6210/tree/master/Lahmans_Baseball_Database

Contribution
This assignment is 100% done by Yuning Song, and 5% of the information and code that help me to do this assignment are from the Internet as the citations shown.

License
Copyright 2019 
Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.