## Import twitter_most table

In [1]:
import pandas as pd

### Read the CSV file

In [2]:
tm_csv=pd.read_csv("twitter_most.csv")

### Transfer CSV file to Pandas Dataframe

In [3]:
tm_df = pd.DataFrame(tm_csv)

In [4]:
tm_df=tm_df.astype(object,int)

In [5]:
import sqlite3

### Create the sqlite3 database file and build the connection and cursor

In [6]:
db1 = '/Users/rachealchen/Documents/jupyter/6210FinalProject/UPF/twitter_most.db' 
conn1 = sqlite3.connect(db1) 
c1 = conn1.cursor()

### Build table in databse

In [7]:
tm_df.to_sql('twitter_most',             # Name of the table.
            con=conn1,                    # The handle to the file that is set up.
            if_exists='replace',         # Overwrite, append, or fail.
            )                           #include index

### Check the cloumns in the table

In [8]:
for row in conn1.execute("pragma table_info('twitter_most')").fetchall():
    print (row)
print(len(row))

(0, 'index', 'INTEGER', 0, None, 0)
(1, 'userid', 'REAL', 0, None, 0)
(2, 'mostPopHashtag1', 'TEXT', 0, None, 0)
(3, 'mostPopHashtag2', 'TEXT', 0, None, 0)
(4, 'mostPopHashtag3', 'TEXT', 0, None, 0)
(5, 'mostPopHashtag4', 'TEXT', 0, None, 0)
(6, 'mostPopHashtag5', 'TEXT', 0, None, 0)
(7, 'mostPopPost', 'TEXT', 0, None, 0)
6

## Import twitter_post table

### Read the CSV file

In [9]:
tp_csv=pd.read_csv("twitter_post.csv")

### Transfer CSV file to Pandas Dataframe

In [10]:
tp_df = pd.DataFrame(tp_csv)

In [11]:
tp_df=tp_df.astype(object,int)

### Create the sqlite3 database file and build the connection and cursor

In [12]:
db2 = '/Users/rachealchen/Documents/jupyter/6210FinalProject/UPF/twitter_post.db' 
conn2 = sqlite3.connect(db2) 
c2 = conn2.cursor()

### Build table in databse

In [13]:
tp_df.to_sql('twitter_post',             # Name of the table.
            con=conn2,                    # The handle to the file that is set up.
            if_exists='replace',         # Overwrite, append, or fail.
            )                           #include index

### Check the cloumns in the table

In [14]:
for row in conn2.execute("pragma table_info('twitter_post')").fetchall():
    print (row)
print(len(row))

(0, 'index', 'INTEGER', 0, None, 0)
(1, 'Post_Id', 'REAL', 0, None, 0)
(2, 'Userid', 'REAL', 0, None, 0)
(3, 'Time', 'TEXT', 0, None, 0)
(4, 'Caption', 'TEXT', 0, None, 0)
(5, 'Likes', 'INTEGER', 0, None, 0)
(6, 'Name', 'TEXT', 0, None, 0)
(7, 'Comments', 'TEXT', 0, None, 0)
6

## Import twitter_profile table

### Read the CSV file

In [15]:
t_pro_csv = pd.read_csv("twitter_profile.csv")

### Transfer CSV file to Pandas Dataframe

In [16]:
t_pro_df = pd.DataFrame(t_pro_csv)

In [17]:
t_pro_df=t_pro_df.astype(object,int)

### Create the sqlite3 database file and build the connection and cursor

In [18]:
db3 = '/Users/rachealchen/Documents/jupyter/6210FinalProject/UPF/Twitter_Profile.db' 
conn3 = sqlite3.connect(db3) 
c3 = conn3.cursor()

### Build table in databse

In [19]:
t_pro_df.to_sql('twitter_profile',             # Name of the table.
            con=conn3,                    # The handle to the file that is set up.
            if_exists='replace',         # Overwrite, append, or fail.
            )                           #include index

### Check the cloumns in the table

In [20]:
for row in conn3.execute("pragma table_info('twitter_profile')").fetchall():
    print (row)
print(len(row))

(0, 'index', 'INTEGER', 0, None, 0)
(1, 'Player_ID', 'INTEGER', 0, None, 0)
(2, 'Name', 'TEXT', 0, None, 0)
(3, 'Screen_name', 'TEXT', 0, None, 0)
(4, 'ID', 'INTEGER', 0, None, 0)
(5, 'Bio', 'TEXT', 0, None, 0)
(6, 'Url', 'TEXT', 0, None, 0)
(7, 'Posts', 'INTEGER', 0, None, 0)
(8, 'Followers', 'INTEGER', 0, None, 0)
(9, 'Friends', 'INTEGER', 0, None, 0)
6

## Usecases Started

### 1. Select inactive player in twitter, player information show as userid.

In [21]:
results1 = c1.execute("SELECT userid FROM twitter_most where mostPopPost='[]';")
q1=results1.fetchall() 
q1

[(466852270.0,),
 (1067020626.0,),
 (135323628.0,),
 (1538825629.0,),
 (416120361.0,),
 (76809678.0,),
 (130939593.0,),
 (7.57288e+17,),
 (273532957.0,),
 (40779444.0,),
 (269552973.0,),
 (37534613.0,),
 (2232325386.0,),
 (205771054.0,),
 (61604894.0,),
 (202893625.0,),
 (33995409.0,),
 (302111485.0,),
 (131009726.0,),
 (341567459.0,),
 (9.0492e+17,),
 (935368368.0,),
 (73457606.0,),
 (480847192.0,),
 (119504238.0,),
 (356408195.0,),
 (38026892.0,),
 (234811698.0,),
 (238653226.0,),
 (353594343.0,),
 (281405595.0,),
 (270689028.0,),
 (226257592.0,),
 (29356531.0,),
 (162041294.0,),
 (23083404.0,),
 (114836738.0,),
 (59297233.0,),
 (163559269.0,),
 (64949907.0,),
 (150846769.0,),
 (2790308794.0,),
 (135773677.0,),
 (48203492.0,),
 (37367041.0,),
 (609548724.0,),
 (165953518.0,),
 (231335961.0,),
 (64643728.0,),
 (119135103.0,),
 (47218790.0,),
 (388014562.0,),
 (291497363.0,),
 (51625402.0,)]

### 2. Select most popular hashtag related to "NBA".

In [22]:
results2 = c1.execute("SELECT mostPopHashtag1 FROM twitter_most where mostPopHashtag1 like '%NBA%';")
q2=results2.fetchall() 
q2

[('NBAPlayoffs',),
 ('NBAPlayoffs',),
 ('NBATwitterLive',),
 ('NBAPlayoffs',),
 ('NBACommunityAssist',),
 ('NBAse',),
 ('NBAse',),
 ('NBAse',),
 ('NBAse',),
 ('NBAse',),
 ('NBATwitterLive',),
 ('nba',),
 ('NBAPlayoffs',),
 ('NBAAllStar',),
 ('NBAAllStar',),
 ('NBAAllStar',),
 ('NBAAllStar',)]

### 3. Select target user (show as userid) for who's most recent post is uploaded in March.

In [23]:
results3 = c2.execute("SELECT Userid FROM twitter_post where Time like '%/3/%';")
q3=results3.fetchall() 
q3

[(373677327.0,),
 (159113258.0,),
 (142138363.0,),
 (364970961.0,),
 (70926844.0,),
 (205771054.0,),
 (116485600.0,),
 (58673299.0,),
 (281405595.0,),
 (47635525.0,),
 (162749920.0,),
 (153133853.0,),
 (54780126.0,)]

### 4. Select post content may talking about game winning. Output is sorting by post time in descending order.

In [24]:
results4 = c2.execute("SELECT Caption FROM twitter_post where Caption like '%win%' ORDER BY Time DESC ;")
q4=results4.fetchall() 
q4

[('Bro that might be the COLDEST game winner I__e ever seen ______ Dame is an absolute MONSTER!',),
 ('#great #wintonight #yallaherzliya @winnerleague #from #thereason https://t.co/ZOxscYpxED',),
 ('Congratulations @BrookeHenderson on winning the LPGA Lotte Championship Back 2 Back Years!     ________',),
 ('Great home win!! @CBBreogan we heard you tonight!!!!!',),
 ('@kingkirk53 We didn__ win enough games I guess __',),
 ('Y__ll think men can just use hotel soap and win? Step up your game with @OldSpice Moisturize with Shea Butter body_ https://t.co/1MX8OAIma5',),
 ('RT @cassiuswinston: Crazy _¤ï_____ https://t.co/uGoHgfPFJJ',),
 ("RT @Santa_Vol: The last time the Vols were in the Sweet 16 Jarnell Stokes helped get them there!  If you'd like to win this card autographe_",)]

### 5. Select the top five favorite player.

In [25]:
results5 = c3.execute("SELECT Name FROM twitter_profile ORDER BY Followers DESC LIMIT 5 ;")
q5=results5.fetchall()
q5

[('LeBron James',),
 ('Kevin Durant',),
 ('Kobe Bryant',),
 ('Stephen Curry',),
 ('Carmelo Anthony',)]